<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <%= link_to 'Contact List', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Nova Conta', '#', class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item">
        <%= link_to 'Entrar', '#', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>